
/*

    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;

*/
/*-----------------------------
	Footer Default
------------------------------*/
.ft-bg-1{
	background: #010920;
}
.ft-bg-2{
	background: #010101;
}
.footer-pra {
  color: #fff;
}

.footer-pra {
    color: #fff;
}
.footer-logo {
    margin-bottom: 14px;
}
.footer-logo img {
    width:180px;
}
.social-icon {
    display: flex;
    margin-top: 44px;
}
.social-icon li a{
    border: 1px solid #a4a4a4;
    border-radius: 0;
    display: block;
    height: 30px;
    line-height: 27px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.social-icon li + li {
    margin-left: 14px;
}
.social-icon li a:hover{
    background: #0099a1 none repeat scroll 0 0;
    border: 1px solid #0099a1;
    color: #fff;
}
.social-icon li a:hover i {
    color: #fff;
}

.footer-title {
    color: #0099a1;
    font-size: 16px;
    text-transform: uppercase;
}
.hs-footer-date li {
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}

.hs-footer-date li a{
    color: #9b9b9b;
}

.hs-footer-date {
    margin-top: 43px;
}

.ft-single-address {
    color: #fff;
    display: flex;
}
.footer-icon a{
    border: 1px solid #0099a1;
    border-radius: 0%;
    color: #0099a1;
    height: 30px;
    line-height: 28px;
    margin-right: 14px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
    display: block;
}
.footer-address p, .footer-address p a {
    color: #9b9b9b;
}
.hs-footer-address {
    margin-top: 45px;
}
.ft-single-address + .ft-single-address {
  margin-top: 22px;
}
.footer-icon {
  margin-top: 5px;
}
.our-colection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.our-colection {
  margin-left: -5px;
  margin-right: -5px;
}
.our-colection li:nth-child(-n+3) {
  margin-bottom: 10px;
}

.our-colection li {
  padding: 0 5px;
  position: relative;
  transition: all 0.3s ease 0s;
  width: 33.33%;
}
.our-colection li a{
  position: relative;
  transition: 0.3s;
  display: block;
}
.our-colection li a::before {
  background: #0099a1 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.our-colection li a:hover::before {
    visibility: visible;
}
.footer-btm-inner {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: center;
}
.footer-btm-inner p {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    text-transform: capitalize;
}
.footer-btm-inner {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: center;
}
.footer-btm-inner p {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    text-transform: capitalize;
}
.footer-btm-inner p a {
	color: #0099a1;
}

.footer-btm-left {
    align-items: left;
    display: flex;
    height: 65px;
    justify-content: left;
}
.footer-btm-left p {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 65px;
    text-transform: capitalize;
}
.footer-btm-left p a {
	color: #03989e;
}
.footer-btm-right {
    align-items: right;
    display: flex;
    height: 65px;
    justify-content: right;
}
.footer-btm-right p {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 65px;
    text-transform: capitalize;
}
.footer-btm-right p a {
	color: #03989e;
}

.footer-top {
  padding-top: 70px;
}
.hs-footer-date li + li {
  margin-top: 10px;
}
.footer-pra.footer-pra-2 {
  margin-top: 40px;
}
.our-colection li a img {
  width: 100%;
}
