/*--------------------------------------------------------------

  Template Name: Medilearn  Medical HTML Template.
  Template URI: #
  Description: Medilearn is a unique website template designed in HTML with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design corporate, corporate any other purposes websites.
  Author: HasTech
  Author URI: https://themeforest.net/user/hastech/portfolio
  Version: 1.0
---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

.headtitle{
	text-decoration:none;
	color:#00999c;
}
.headtitle:hover{
	text-decoration:none;
	color:#00999c;
}
/******* star rating ******/

.rate {
    height: 23px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.checked {
  color: #376a47;;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  }
.star-ratings-sprite .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }
/******* star rating ******/

/* Ajax live search css Starts */
.ajaxsearch-result
{
	display:block;
	position:relative;
	border-radius: 2px;
}
.ajaxsearch-result .list-item
{
	text-decoration: none; 
}

#searchlist {
	position: absolute;
	width:100%;
}
#searchlist .dropdown-menu {
	position: absolute;
	top: 56px;
	width: 100%;
	padding: 15px;
	max-height: 300px;
	display:block;
}
#searchlist .dropdown-menu li{padding:5px 0;}
/* Ajax live search css Ends */

/* Clearable text inputs */
/*
.clearable{
  position: relative;
  display: inline-block;
}
* */

#searchclear {
	display: none;
	position: absolute;
	cursor: pointer;
	right:5px;
	top:0;
	bottom:0;
	height:25px;
	margin:auto;
	font-size:25px;
	color:#00999c;
}

/* FAQ accordian start*/

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.2rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
    text-decoration:none;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.0rem;
}
/* FAQ accordian ends*/
