body{
  background :#f2f6f7; 
}
header.headerbg {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.inner-page {
    padding: 30px;
}

.card {
    padding: 10px;
    margin-bottom: 15px;
}
.card .form-group strong {
    margin-bottom: 5px;
    display: block;
}


#hero {
    min-height: 600px;
}
#hero {
    width: 100%;
    position: relative;
    padding: 0px 0 0 0;
    background-position: bottom center;
    background-size: auto 670px;
}

.row:before, .row:after {display: none !important;}

a.header-btn {
    padding: 14px 22px;
	color: #fff;
    text-transform: uppercase;
    background: url(assets/svg/download-btn.svg);
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    margin-left: 0px;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 3px;
    background-image: -webkit-linear-gradient( 0deg, rgb(150, 210, 80) 0%, rgb(43, 191, 49) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(150, 210, 80) 0%, rgb(43, 191, 49) 100%);
}

a.header-btn:hover {
    background: url(assets/svg/home1-download-btn-hover.svg);
    padding: 14px 22px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient( 0deg, rgb(43, 191, 49) 0%, rgb(150, 210, 80) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(43, 191, 49) 0%, rgb(150, 210, 80) 100%);
	text-decoration:none;
}

#footer {
    padding: 0 0 0px 0
}