body {background: #f2f6f7;}
.logo {
    margin: 10px auto;
    text-align: center;
}
header.loginbg {
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
nav.menubg {
    background: #00aa4f;
    color: #FFF;
}
nav.menubg.navbar-light .navbar-nav .nav-link{
  color: #FFF;
}
nav.menubg .info a{
  color: #FFF;
}
section.content {
    width: 100%;
    overflow: hidden;
    padding: 30px;
}

.footerbg {
    background: #374250;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}
.footerbg p {
    margin: 0;
}


@media (max-width: 767px) {
div#advData_wrapper {
    overflow-x: scroll;
}
.footerbg p {
    margin: 0;
    text-align: center;
    }
}