/*-----------------------------------------------------------------------------------

  
  CSS INDEX
  ===================

    1. Template default css (css/shortcode/default.css)
    2. Header css (css/shortcode/header.css)
    3. Slider css (css/shortcode/slider.css)
    4. Footer css (css/shortcode/footer.css)
    05. Our story area
    06. Our service area
    07. Our pricing table area
    08. Our team area
    09. Portfolio area
    10. Shop area
    11. Appoinment area
    12. Blog area
    13. Newsletter area
    14. Scroll to top
    15. Start breadcrumbs
    16. Blog page
    17. Blog sidebar
    18. Blog details
    19. Contact area
    20. Shop area
    21. Wish list
    22. Shopping cart
    23. Check out
    24. My account
-----------------------------------------------------------------------------------*/
/*-------------------------
  05. Our story area
----------------------------*/
/*Section Title*/

h2.section-title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
}
.section-details {
    margin-top: 19px;
    padding: 0 20%;
}
h2.section-title.bg-color-bark {
    color: #fff;
}
/*-----------------------------
    End section title
----------------------------*/
/*Start story*/

.hs-story-thumb {
    display: flex;
}
.hs-story-thumb .hs-story-img {
    padding-right: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 100%;
}
.hs-story-thumb .hs-story-img::before {
    background: none;
    content: "";
    height: calc(100% - 30px);
    right: 0;
    position: absolute;
    bottom: 0;
    width: 92%;
    z-index: -1;
	border: 2px solid #000;
}
.hs-story-text-rot {
    width: 80px;
    writing-mode: sideways-lr;
}
.hs-story-text {
    align-items: center;
    display: flex;
    justify-content: start;
    position: relative;
    text-align: center;
    width: 80px;
}
.hs-story-text-rot h3 {
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.hs-story-text::before {
    background: #0099a1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: calc(100% - 20px);
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.story-writter {
    margin-bottom: 25px;
}
.hs-story-wrap {
    /*box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);*/
    padding: 90px 58px 70px;
    text-align: center;
}
.hs-story-wrap p.pra-1 {
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 43px;
    margin-top: 6px;
}
.story-details p {} .story-details p + p {
    margin-top: 26px;
}
.story-details {
    padding-bottom: 38px;
}
/*-------------------------
  06. Our service area
----------------------------*/

.single-service-area {
    background: #fff none repeat scroll 0 0;
    text-align: center;
}
.col-4.col-lg-4.col-xs-12.col-sm-6:nth-child(-n+3) .single-service-area {
    margin-bottom: 30px;
}
h4.ser-vice-tit {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
}
.single-service-area {
    padding: 32px 44px;
    transition: all 0.3s ease 0s;
}
.single-service-area p.ser-pra {
    margin-top: 4px;
}
.single-service-area:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
}
.service-icon img {
    max-height: 29px;
}
.service-icon {
    margin-bottom: 11px;
}
/*---------------------------------
  07. Our pricing table area
------------------------------------*/

.hs-price-head h4 {
    background: #f1f1f1 none repeat scroll 0 0;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
    text-transform: capitalize;
}
.hs-priceing-box {
    text-align: center;
    transition: all 0.3s ease 0s;
}
.hs-price-box p {
    color: #535353;
    display: inline-block;
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    line-height: 24px;
}
.hs-price-box p sup {
    color: #535353;
    font-size: 20px;
    position: relative;
    right: 90px;
    top: -21px;
}
.hs-price-box {
    background: #fff none repeat scroll 0 0;
    height: 120px;
    line-height: 140px;
}
.hs-price-body {
    background: #f1f1f1 none repeat scroll 0 0;
    padding-bottom: 50px;
    padding-top: 18px;
}
.hs-price-box span {
    color: #535353;
    display: inline-block;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    left: -13px;
    position: relative;
}
.hs-price-body ul li {
    color: #606060;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    text-transform: capitalize;
}
.hs-price-body ul li.no {
    color: #bbb;
}
.pricing-btn .hs-btn::before {
    position: inherit;
}
.pricing-btn {
    margin-top: 40px;
}
.hs-priceing-box:hover,
.hs-priceing-box.active {
    box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.07), 0 8px 10px rgba(0, 0, 0, 0.1);
}
.hs-priceing-box.active .hs-price-head {
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.hs-priceing-box.active {} .hs-priceing-box.active .hs-price-head::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 0 55% 55%;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 110%;
    z-index: -1;
}
.hs-priceing-box.active h4 {
    background: transparent none repeat scroll 0 0;
}
.hs-priceing-box.active .hs-price-box {
    background: transparent none repeat scroll 0 0;
    line-height: 88px;
}
.hs-priceing-box.active {
    background: #f1f1f1 none repeat scroll 0 0;
}
.hs-priceing-box.active .hs-price-box p,
.hs-priceing-box.active .hs-price-box span {
    color: #0099a1;
}
.hs-priceing-box.active .hs-price-box p sup {
    color: #0099a1;
}
/*---------------------------------
  08. Our team area
------------------------------------*/

.team-info h4 a {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 22px;
    text-transform: uppercase;
    transition: 0.3s;
}
.single-team-inner {
    text-align: center;
}
.team-info p {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hs-single-team:hover .team-info h4 a,
.hs-single-team:hover .team-info p {
    color: #0099a1
}
/*shape*/

.team-thumb {
    position: relative;
}
.team-thumb img {
    position: relative;
    z-index: 3;
}
/*New code*/

.team-thumb::before {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #606060;
    border-radius: 100%;
    bottom: 0;
    content: "";
    height: 270px;
    left: 50%;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    width: 270px;
    transition: 0.3s;
}
.team-thumb::after {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    bottom: 0;
    content: "";
    height: 270px;
    left: 50%;
    position: absolute;
    right: 0;
    transform: translateX(-50%) scale(0.5);
    width: 270px;
    transition: 0.3s;
    opacity: 0;
}
.hs-single-team:hover .team-thumb::after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}
.single-team-content {
    position: relative;
}
.team-social-icon {
    bottom: 5px;
    left: 15%;
    opacity: 0;
    position: absolute;
    transform: scale(0.5);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    z-index: 1;
}
.hs-single-team:hover .team-social-icon {
    opacity: 1;
    visibility: visible;
    left: 0;
    transform: scale(1);
}
.team-social-icon li a {
    color: #909090;
    display: block;
    font-size: 24px;
}
.team-social-icon li a i {
    color: #909090;
}
.team-social-icon li a:hover i {
    color: #0099a1;
}
.team-social-icon li {
    margin: 24px 0;
    position: relative;
    display: block;
}
.team-social-icon li:first-child,
.team-social-icon li:last-child {
    left: 35px;
}
.team-social-icon li:nth-child(2),
.team-social-icon li:nth-child(4) {
    left: 10px;
}
/*-----------------------------
  09. Portfolio area
-------------------------------*/
/*--------------
Start  nav
----------------*/

.port-filter-nav {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.port-filter-nav li {
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    transition: 0.3s;
}
.port-filter-nav li.is-checked {
    color: #0099a1;
}
.port-filter-nav li:hover {
    color: #0099a1;
}
.port-filter-nav li + li {
    margin-left: 22px;
    padding-left: 25px;
}
/*----------------
  End  nav
------------------*/
/*-----------------------------
    Portfolio items
--------------------------------*/

.pro-item:nth-child(-n+3) {
    margin-bottom: 30px;
}
.our-portfolio,
.blog-front {
    position: relative;
}
.our-hover-information,
.blog-hover-info {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.our-hover-information::before,
.blog-hover-info::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.our-portfolio:hover .our-hover-information::before,
.single-blog-wrap:hover .blog-hover-info::before {
    opacity: 0.5;
    visibility: visible;
}
.our-hover-action,
.blog-hover-action {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.our-hover-action a,
.blog-hover-action a {
    border: 1px solid #0099a1;
    border-radius: 100%;
    display: block;
    height: 50px;
    line-height: 55px;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 50px;
}
.our-hover-action a i,
.blog-hover-action a i {
    color: #0099a1;
    font-size: 24px;
}
.our-portfolio:hover .our-hover-action a,
.single-blog-wrap:hover .blog-hover-action a {
    opacity: 1;
    visibility: visible;
}
.our-hover-action a:hover,
.blog-hover-action a:hover {
    background: #0099a1 none repeat scroll 0 0;
    border: 1px solid #0099a1;
}
.our-hover-action a:hover i,
.blog-hover-action a:hover i {
    color: #fff !important;
}
.our-port-filter-nav.our-port-filter-nav-2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
/*-----------------------------
  End  portfolio items
--------------------------------*/
/*-----------------------------
  10. Shop area
-------------------------------*/

.single-shop-thumd {
    position: relative;
    transition: 0.3s;
}
.product-information {
    background: #fff none repeat scroll 0 0;
    height: 50px;
    left: 50%;
    line-height: 57px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-76%);
    width: 170px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.hs-single-shop-area:hover .product-information {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
}
.hs-single-shop-area:hover .single-shop-thumd {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
}
.product-information ul {
    display: flex;
    justify-content: space-around;
}
.product-information ul li {
    display: inline-block;
    text-align: center;
}
.product-information ul li a {
    display: block;
}
.product-information ul li a i {
    color: #606060;
    font-size: 24px;
    transition: 0.3s;
}
.product-information ul li a:hover i {
    color: #0099a1;
}
.shop-title a {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin-top: 26px;
    text-transform: capitalize;
}
.product-price {
    display: flex;
    margin-top: 7px;
}
.product-price li.new-price {
    color: #0099a1;
    font-size: 24px;
    line-height: 24px;
    margin-right: 8px;
}
.product-price li.old-price {
    color: #909090;
    font-size: 18px;
    line-height: 24px;
}
/*-----------------------------
  11. Appoinment area
-------------------------------*/

.section-details.appoinment {
    padding: 0;
}
.input-box {
    display: flex;
}
.input-box > input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #909090;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    width: 50%;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
}
.input-box > input + input {
    margin-left: 30px;
}
.input-box + .input-box {
    margin-top: 30px;
}
.input-box select {
    border: 1px solid transparent;
    color: #909090;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    margin-left: 30px;
    padding-left: 20px;
    width: 50%;
    line-height: 45px;
}
.input-box input*::-moz-placeholder {
    color: #909090;
    opacity: 1;
}
.hs-btn.hs-btn-2 {
    color: #0099a1 !important;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
}
.appoinment-form form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-color: #fff;
    background-image: url("images/icons/select-option.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.appoinment-form form select option {
    padding-left: 20px;
}
/*-----------------------------
  12. Blog area
-------------------------------*/

.blog-hover-action a {
    border: 1px solid transparent;
    display: block;
    height: auto;
    line-height: 0;
    width: auto;
}
.blog-hover-action > a i {
    font-size: 70px;
}
.blog-hover-action a:hover {
    background: transparent;
    border: 1px solid transparent;
    color: #0099a1;
}
.blog-title a {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.blog-post-date {
    display: flex;
    justify-content: space-between;
}
.blog-post-date li {
    color: #909090;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}
.blog-post-date li i {
    color: #909090;
    margin-right: 6px;
}
.blog-post-date li span {
    color: #909090;
}
.single-blog-wrap {} .blog-details {
    border: 1px solid #dfdfdf;
    padding: 27px 20px 25px;
}
/*-----------------------------
  13. Newsletter area
-------------------------------*/

.hs-newsletter-inner {
    margin: 0 15px;
}
.hs-newsletter-tile {
    font-size: 23px;
    font-weight: 700;
    height: 120px;
    line-height: 120px;
    text-transform: uppercase;
}
.nws-input-box {
    height: 120px;
    line-height: 120px;
}
.nws-input-box input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #eeeeee;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 1px;
    padding-left: 10px;
    width: 100%;
}
.nws-input-box *::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.nws-input-box input *::-moz-placeholder {
    color: #fff;
    font-size: 14px;
}
.sing-up-btn {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: flex-end;
}
.hs-newsletter-area {
    bottom: -60px;
    position: relative;
}
/*-------------------------
  Quick view
-------------------------------*/

.main-image.images img {
    width: 100%;
}
.product-info h1 {
    font-size: 20px;
    line-height: 15px;
    margin-top: 14px;
    text-transform: uppercase;
}
.s-price-box span.new-price {
    color: #0099a1;
    font-size: 24px;
    line-height: 24px;
}
.s-price-box span.old-price {
    color: #909090;
    font-size: 18px;
    line-height: 24px;
}
.s-price-box {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}
.numbers-row {
    margin-bottom: 14px;
    margin-right: 20px;
}
.single_add_to_cart_button {
    background: #0099a1 none repeat scroll 0 0;
    border: 1px solid #0099a1;
    color: #fff;
    display: block;
    font-weight: 400;
    height: 30px;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: 0.3s;
}
.social-sharing .social-icons li a:hover i {
    background: #252525;
    color: #fff;
}
.single_add_to_cart_button:hover {
    background: #252525;
    color: #fff;
    border: 1px solid #252525;
}
.social-sharing .social-icons {
    display: flex;
    margin-top: 15px;
}
.social-sharing .social-icons li + li {
    margin-left: 10px;
}
.social-sharing .social-icons li a i {
    background: #0099a1 none repeat scroll 0 0;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    color: #fff;
    transition: 0.3s;
}
.social-sharing .social-icons .social-icon {
    margin-top: 7px;
}
.cart {
    display: flex;
}
.numbers-row input {
    color: #0099a1;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #c1c1c1;
}
.see-all {
    color: #252525;
    display: block;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 9px;
    margin-top: 10px;
    text-transform: uppercase;
}
/*-------------------------
  End  quick view
-------------------------------*/
/*---------------------------------------
  14. Scroll to top
----------------------------------------*/

#scrollUp {
    border-radius: 2px;
    bottom: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 28px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 45px;
    z-index: 200;
    bottom: 15px;
}
#scrollUp:hover {} @-webkit-keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 75%;
    }
}
@-moz-keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 75%;
    }
}
@keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 75%;
    }
}
#scrollUp:hover i {
    animation: 800ms linear 0s normal none infinite running scroll-ani-to-top;
    height: 100%;
    left: 0;
    margin-bottom: -25px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#scrollUp i {
    color: #fff;
}
#scrollUp {
    background: #0099a1 none repeat scroll 0 0;
}
/*---------------------------------------
  End scroll to top
----------------------------------------*/
/*---------------------------------------
  15. Start breadcrumbs
----------------------------------------*/

h2.page-title {
    color: #5b5b5b;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.breadcrumbs > ul li {
    color: #5b5b5b;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.breadcrumbs > ul li a {
    color: #f8c12c;
    padding-right: 17px;
    position: relative;
}
.breadcrumbs ul li a::after {
    background-color: #5b5b5b;
    content: "";
    font-size: 8px;
    height: 15px;
    margin-left: 11px;
    position: absolute;
    right: 5px;
    top: 2px;
    transform: rotate(33deg);
    width: 1.5px;
}
/*---------------------------------------
  end breadcrumbs
----------------------------------------*/
/*---------------------------------------
  16. Blog page
----------------------------------------*/

.blog-thumb > img {
    width: 100%;
}
.page {
    display: block;
    text-align: center;
}
.page li {
    display: inline-block;
    margin-right: 15px;
}
.page li:last-child {
    margin-right: 0px;
}
.page a {
    border: 1px solid #c1c1c1;
    color: #252525;
    display: inline-block;
    height: 40px;
    line-height: 37px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.page a:hover,
.page li.active a,
.page li.p-icon a i:hover {
    background-color: #464646;
    border: 1px solid #464646;
    color: #0099a1;
}
.page li.p-icon a i {
    transition: all .3s ease 0s;
}
.page li.p-icon a:hover i {
    color: #0099a1;
}
/*----------------------------------------*/
/*  17. Blog sidebar
/*----------------------------------------*/

h3.leave-comment-text {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
}
h3.leave-comment-text::before {
    background: #0099a1 none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.blog-search > form {
    position: relative;
}
.blog-search input[type="text"] {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #666666;
    height: 40px;
    line-height: 28.8px;
    margin: 0;
    outline: medium none;
    padding: 5px 48px 5px 15px;
    position: relative;
    transition: all 0.4s ease 0s;
    width: 100%;
}
.blog-search button.submit {
    background-color: #0099a1;
    border: 1px solid #0099a1;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 45px;
}
.blog-search button.submit i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.blog-search button.submit:hover {
    background-color: #464646;
    border: 1px solid #464646;
}
.blog-search {
    overflow: hidden;
}
.single-site-video {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}
.blog-video-img {
    display: inline-block;
    float: left;
    width: 34%;
}
.blog-video-text {
    display: inline-block;
    padding-left: 15px;
    width: 66%;
}
.blog-video-text > h3 {
  color: #464646;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 3px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.blog-video-text > h3 a:hover {
    color: #0099a1;
}
.blog-right-sidebar-top ul li {
    color: #464646;
}
.blog-right-sidebar-top ul li a::before {
    color: #444;
    content: "";
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 12px;
    margin-left: 0;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.blog-right-sidebar-top ul li a {
    border-bottom: 1px solid #f1f1f1;
    color: #464646;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    position: relative;
    transition: all 0.3s ease 0s;
}
.blog-right-sidebar-top ul li a span {
    float: right;
    transition: all 0.3s ease 0s;
}
.blog-right-sidebar-top ul li:hover a,
.blog-right-sidebar-top ul li:hover a span,
.blog-right-sidebar-top ul li a:hover::before {
    color: #0099a1;
}
.blog-right-sidebar-bottom ul li {
    float: left;
    margin: 0 8px 8px 0;
}
.blog-right-sidebar-bottom ul li a {
    background-color: #e6e6e6;
    border-radius: 2px;
    color: #464646;
    display: block;
    font-size: 14px;
    line-height: 24px;
    opacity: 1;
    padding: 8px 15px;
    text-transform: capitalize;
    transition: all 0.2s linear 0s;
}
.blog-right-sidebar-bottom ul li a:hover {
    background-color: #0099a1;
    color: #fff !important;
}
/*----------------------------------------*/
/*  18. Blog details
/*----------------------------------------*/

.blog-info > h3 {
    font-size: 25px;
    text-transform: capitalize;
}
.blog-info > h3 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
blockquote {
    background-color: #f6f6f6;
    border-left: 2px solid #464646;
    color: #666666;
    font-size: 14px;
    line-height: 26px;
    margin: 23px 0;
    padding: 14px 50px;
}
.news-allreply {
    display: inline-block;
    float: left;
    text-align: center;
}
.news-allreply img {
    border-radius: 100%;
    width: 100%;
}
.blog-img-details {
    padding-left: 90px;
}
.blog-title > h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    text-transform: capitalize;
}
.blog-title > span {
    color: #666666;
    display: block;
    margin-bottom: 7px;
}
.blog-middle-mrg {
    margin: 32px 0 33px 90px;
}
.nes-icon > a i {
    color: #464646 !important;
    transition: all 0.3s ease 0s;
}
.nes-icon > a i:hover {
    color: #0099a1 !important;
}
.leave-form input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-size: 14px;
    height: 35px;
    margin-bottom: 30px;
    padding: 0 20px;
    width: 100%;
}
.text-leave textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-size: 14px;
    height: 165px;
    margin-bottom: 30px;
    padding: 20px;
}
.text-leave button.submit {
    background-color: #0099a1;
    border: 1px solid #0099a1;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 7px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.text-leave button.submit:hover {
    background-color: transparent;
    color: #464646;
}
.sidebar-style .col-md-4 {
    width: 100%;
}
.news-img > img {
    width: 100%;
}
/*----------------------------------------*/
/*  19. Contact area
/*----------------------------------------*/

.contact-message input,
.contact-textarea textarea {
    background-color: #fff;
    border: inherit;
    border-radius: 0;
    box-shadow: inherit;
    color: #666;
    font-size: 13px;
    height: 44px;
    outline: medium none;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
    width: 100%;
    margin-bottom: 20px;
}
.submit input.submit {
    background-color: #444;
    border: 1px solid #666;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    padding: 8px 40px 7px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: inherit;
    height: inherit;
}
.submit input.submit:hover {
    background-color: transparent;
    border: 1px solid #666;
    color: #666;
}
.all-contact-text .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}
.contact-textarea textarea {
    height: 130px;
    padding: 15px 20px;
}
.info-style .footer-address p {
    color: #252525;
}
.info-style .footer-icon a {
    border: 1px solid #252525;
}
.info-style .hs-footer-address {
    margin-top: 40px;
}
h3.contact-title {
    font-size: 20px;
    text-transform: capitalize;
}
.all-contact-text {
    margin-top: 40px;
    overflow: hidden;
}
#hastech {
    height: 360px;
    width: 100%;
}
/*----------------------------------------*/
/*  20. Shop area
/*----------------------------------------*/

.p-box {
    margin-bottom: 15px;
}
.price_filter .ui-slider-range {
    background: #0099a1 none repeat scroll 0 0;
}
#slider-range.ui-slider-horizontal {
    height: 5px !important;
}
#slider-range .ui-state-default,
#slider-range .ui-widget-content .ui-state-default {
    background: #0099a1 none repeat scroll 0 0;
    border: 1px solid #0099a1;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: -8px;
    width: 20px;
    z-index: 2;
}
#slider-range .ui-state-default::before,
#slider-range .ui-widget-content .ui-state-default::before {
    border: 4px solid #fff;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.price_slider_amount input {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #797979;
    font-size: 15px;
    padding: 22px 0 4px 0;
    width: 100%;
}
.block-title h2 {
    color: #222222;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
}
.top-shop-area .all-shop2-area {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    padding-right: 15px;
}
.save-up.shop2-up {
    margin: 50px 0 0;
    position: relative;
}
.features-tab .nav > li > a {
    border: 1px solid #ccc;
    color: #555;
    margin-right: 10px;
    padding: 3px 9px;
}
.features-tab .tabs > li.active > a,
.features-tab .tabs > li.active > a:focus,
.features-tab .tabs > li.active > a:hover {
    border: 1px solid #0099a1;
    color: #0099a1;
    background-color: none;
}
.features-tab.fe-again .nav > li > a:focus {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0099a1;
}
.features-tab .shop-all-tab .two-part {
    float: left;
    width: 75%;
}
.two-part {
    float: right;
    font-family: Lato;
    margin: 0;
    padding: 0;
    text-align: center;
}
.shop-all-tab {
    display: block;
    overflow: hidden;
}
.features-tab ul.tabs {
    display: inline-block;
    float: left;
    padding-top: 11px;
}
.tabs {
    display: block;
    position: relative;
    text-align: left;
}
.features-tab ul.tabs li {
    float: left;
}
.features-tab.fe-again .nav > li > a:hover {
    border: 1px solid #0099a1;
    color: #0099a1;
    background: #fff none repeat scroll 0 0;
}
.shop-all-tab.top-shop-n {
    border: 1px solid #e5e5e5;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 10px;
}
.features-tab .shop-all-tab .shop5 {
    float: right;
}
.two-part .shop5,
.shop6 {
    color: #707070;
    font-size: 12px;
}
.two-part .shop5 label,
.shop6 label {
    color: #707070;
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}
.two-part .shop5 select,
.shop6 select {
    color: #908f8f;
    font-size: 12px;
    text-align: center;
}
.two-part .shop5 select,
.shop6 select {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #908f8f;
    font-size: 12px;
    padding: 5px 12px;
    text-align: center;
    vertical-align: middle;
}
.features-tab .shop-all-tab .shop6 {
    float: right;
}
.pagination {
    margin: 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #bebebe;
    border-color: #bebebe;
}
.text-right {
    color: #929191;
    font-size: 13px;
}
.shop-over {
    overflow: hidden;
}
.hs-shop-details ul {
    margin: 10px 0;
}
.hs-shop-details ul li {
    display: inline-block;
}
.hs-shop-details ul a {
    color: #0099a1;
    font-size: 20px;
}
.shop-over .shop-title a {
    margin-top: 0px;
}
.all-shop2-area {
    overflow: hidden;
}
/*--------------------- 21. Wish list --------------------*/

.s-cart-all .page-title h1 {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
.table-responsive {
    border: 0 solid #ddd !important;
    margin-bottom: 10px;
    overflow-x: inherit;
    overflow-y: hidden;
}
.cart-form {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f2f2f2;
    width: 100%;
}
.data-table {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f2f2f2;
    width: 100%;
}
.cart-form .cart-table th {
    padding: 15px;
}
.data-table th {
    background: none repeat scroll 0 0 #f7f7f7;
    border-right: 1px solid #f2f2f2;
    color: #4d4d4d;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    padding: 6px 10px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 150px;
}
.data-table th,
.data-table td {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.data-table td {
    padding: 6px 10px;
}
.cart-form .cart-table td {
    text-align: center;
}
.cart-table .sop-icon a i {
    border: 1px solid #3f4859;
    border-radius: 50%;
    color: #3f4859;
    font-size: 22px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
}
.cart-table .sop-cart > a,
.cart-table .sop-cart {
    color: #666;
    font-size: 14px;
    text-decoration: none !important;
}
.cart-table .sop-cart > a:hover {
    color: #0099a1;
}
.cen input.qty {
    border: 1px solid #ddd;
    height: 32px;
    text-align: center;
    width: 38px !important;
}
.cart-form .cart-table .sop-icon a i {
    background: none repeat scroll 0 0 #222;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 12px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s
}
.cart-form .cart-table .sop-icon a i:hover {
    background: none repeat scroll 0 0 #0099a1;
    color: #fff;
}
.tas.ce-ta {
    display: inline-block;
}
.cart-form .tas.ce-ta a i {
    background: none repeat scroll 0 0 #222;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 11px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.cart-form .tas.ce-ta a i:hover {
    background: none repeat scroll 0 0 #0099a1;
    color: #fff;
}
/*--------------------- 22. Shopping cart --------------------*/

.like h2 {
    font-size: 20px;
    color: #444;
    text-transform: uppercase;
}
.like p {
    color: #4d4d4d;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 20px;
}
label.col-sm-2.control-label.ta {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 13px;
    font-weight: normal;
    color: #4d4d4d;
    font-family: inherit;
    font-size: 14px;
}
.faq-accordion.ced-fag .panel-default > .panel-heading {
    background-color: #0099a1;
    border-color: #ddd;
    color: #fff;
}
.faq-accordion .panel-title a:hover {
  color: #fff!important;
}
.faq-accordion .panel-title a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn.btn-primary.pet {
    background: none repeat scroll 0 0 #222;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 12px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.btn.btn-primary.pet:hover {
    background: none repeat scroll 0 0 #0099a1;
}
label.col-sm-2.control-label.ta7 {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: normal;
    color: #4d4d4d;
    font-family: inherit;
    font-size: 14px;
}
div.required .control-label.ta7::before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}
button.bn7,
.button2.get,
.btn.btn-default.ce5,
.btn.btn-primary.ce5,
.btn.btn-danger.g6 {
    background: none repeat scroll 0 0 #222;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 12px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
button.bn7:hover,
.button2.get:hover,
.btn.btn-default.ce5:hover,
.btn.btn-primary.ce5:hover,
.btn.btn-danger.g6:hover {
    background: none repeat scroll 0 0 #0099a1;
}
.faq-accordion a:hover,
.faq-accordion a:focus,
.faq-accordion a:active {
    color: #0099a1 !important;
}
.form-control:focus {
    border-color: #0099a1;
}
.page-title {
    margin-bottom: 30px;
}
/*--------------------------- 23. Check out -----------------------------*/

.method-input-box {
    padding: 5px 0;
}
.faq-accordion .panel-default > .panel-heading {
    background: none repeat scroll 0 0 #323a45;
    border-left: 0 none;
    border-radius: 0;
    border-right: 0 none;
    border-top: 0 none;
    padding: 12px 15px 12px;
}
.faq-accordion .panel.panel-default.actives .panel-title a {
    color: #009587;
}
.faq-accordion .panel-title a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    position: relative;
    text-decoration: none;
}
.panel-title a:hover {
    text-decoration: none;
}
/* collapse end */

.Register4 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.faq-accordion .Register h3,
.Register4 h3 {
    font-size: 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #444;
}
.method-input-box label {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
}
.easy-text p {
    color: #4d4d4d;
    font-family: inherit;
    font-size: 14px;
}
p.log {
    margin: 0;
    color: #888888;
}
.block-button-right {
    padding-top: 16px;
}
.block-button-right a {
    color: #444;
    margin-bottom: 7px;
}
.form-group {
    margin-top: 35px;
}
.block-button-right a.o-back-to {
    float: left;
    margin-top: 10px;
    color: #454545;
    text-transform: uppercase;
    display: block;
}
.block-button-right a.o-back-to:hover {
    color: #0099a1;
}
.left-info .left-up span,
.shiping-method p {
    display: block;
    line-height: 20px;
    color: #666;
    font-size: 13px;
}
.left-info a {
    color: #454545;
    text-transform: uppercase;
    display: block;
    margin: 10px 0px 12px;
}
.country-select select.email {
    border: 1px solid #e1e1e1;
    padding: 6px;
}
.use-billing-add label {
    color: #666;
    font-weight: normal;
    font-size: 13px;
    margin-top: 12px;
}
.verificationcard {
    margin-bottom: 30px;
}
.block-button-right {
    display: block;
}
.table-responsive {
    overflow-y: hidden;
    overflow-x: inherit;
    border: 0 solid #ddd !important;
    margin-bottom: 10px;
}
.order-review table thead tr th {
    border: 1px solid #f2f2f2 !important;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
.order-review table thead tr th.width-2 {
    width: 11%;
}
.order-review table thead tr th.width-3 {
    width: 5%;
}
.order-review table thead tr th.width-4 {
    width: 12%;
}
.order-review table tbody tr td {
    border: 1px solid #f2f2f2 !important;
}
.o-pro-dec p {
    color: #454545;
    font-size: 16px;
    font-weight: 600;
}
.order-review table tbody tr td {
    border: 1px solid #f2f2f2 !important;
}
.o-pro-price,
.o-pro-qty,
.o-pro-subtotal {
    text-align: center;
}
.o-pro-price > p,
.o-pro-qty > p,
.o-pro-subtotal > p {
    color: #a6a6a6;
    font-size: 16px;
}
.order-review table tfoot tr {
    border-bottom: 0 solid #f2f2f2 !important;
}
.order-review table tfoot tr td {
    color: #a6a6a6;
    text-align: right;
}
.order-review table tfoot tr td {
    font-size: 16px;
}
.order-review table tfoot tr td {
    border-right: 0 solid #f2f2f2 !important;
    border-top: 0 solid #f2f2f2 !important;
    padding: 1px 5px;
}
.order-review .block-right span {
    float: left;
}
.block-rightt {
    margin-top: 40px;
    text-align: right;
    overflow: hidden;
    display: block;
}
.Checkout-sidebar ul {
    margin-top: 20px;
}
.sidebar-list ul li a::before,
.Checkout-sidebar ul li::before {
    color: #d6d6d6;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 10px;
}
.Checkout-sidebar ul li {
    border-bottom: 1px solid #d6d6d6;
    display: block;
    color: #8c8c8c;
    padding: 8px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    text-transform: capitalize;
}
.check h1 {
    color: #444;
    font-size: 18px;
    text-transform: uppercase;
}
.faq-accordion .panel-heading {
    background-color: #F6F6F6;
}
.easy,
.easy2 {
    overflow: hidden;
    padding: 40px;
}
.block-button-left {
    padding-top: 14px;
}
.hitstore {
    padding: 40px;
}
.check-p {
    color: #444444;
}
.input-one label.required {
    color: #666;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
}
.input-one label.required em {
    color: #0099a1;
    float: right;
    font-style: normal;
    position: absolute;
    right: -8px;
    top: 14px;
}
.input-one.form-list.moto {
    margin-bottom: 0;
}
.actions.mot {
    float: right;
}
.button.btn-in.bt-mot {
    margin-top: 0;
}
.country-select select.email {
    border: 1px solid #e1e1e1;
    padding: 6px;
}
.use-billing-add select.c-wid {
    width: 250px;
}
.input-one select.c-wid {
    color: #888888;
    font-size: 12px;
}
.experi .date select.email {
    border: 1px solid #e1e1e1;
    margin-left: 15px;
    padding: 6px;
    width: 254px;
}
.input-one select.c-wid {
    width: 254px;
}
.input-one.form-list.m-code {
    margin-top: 15px;
}
.moto-side ul li::before {
    color: #d6d6d6;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    left: 0;
    margin-right: 10px;
}
.moto-side ul li {
    border-bottom: 1px solid #d6d6d6;
    color: #8c8c8c;
    font-size: 14px;
    line-height: 29px;
    padding: 8px 0;
}
.s-single-shop .input-one.form-list {
    display: block;
    overflow: hidden;
    margin-bottom: 12px;
}
.form-add .input-one input.email,
.form-add .input-one textarea.email,
.shipping-zip-form select.email,
.form-list input.email,
.billing-info select.email,
.input-one select.email {
    border: 1px solid #e1e1e1;
    padding: 6px;
    width: 100%;
}
.experi .date select.email,
.input-one select.s-wid {
    border: 1px solid #e1e1e1;
    margin-left: 15px;
    padding: 6px;
    width: 254px;
}
.input-one label.required {
    color: #666;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    padding: 15px 0 0;
    position: relative;
    z-index: 0;
}
.button2.get {
    float: right;
}
.email.s-email.s-wid.cen {
    margin-top: 10px;
}
.check {
    margin-bottom: 20px;
}
/*--------------------------- 24. My account -----------------------------*/

.easy2 > h1 {
    color: #444;
    font-size: 18px;
    text-transform: uppercase;
}
.easy2 legend {
    font-size: 18px;
    padding: 7px 0 15px;
    border-width: 0 0 1px;
    border-bottom: 1px solid #e5e5e5;
}
.easy2 div.required .control-label::before {
    color: #0099a1;
    content: "* ";
    font-weight: bold;
}
.easy2 .form-group label {
    font-size: 14px;
    font-weight: normal;
    color: #444;
}
.easy2 .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: 40px;
}
.easy2 .table-bordered td {
    padding: 8px !important;
    text-align: center;
    vertical-align: middle !important;
}
.easy2 .btn-info {
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.easy2 .btn-info:hover {
    background-color: #df5c39;
    background-image: none;
}
.easy2 .btn.btn-info.g6 {
    background: none repeat scroll 0 0 #df5c39;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 12px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.btn.btn-info.g6:hover {
    background: none repeat scroll 0 0 #0099a1;
}
a.collap {
    background: none repeat scroll 0 0 #323a45;
    color: #fff;
    display: block;
    padding: 11px 15px;
    text-transform: uppercase;
    margin-top: 5px;
}
.panel-group.pas7 {
    margin-bottom: 5px;
}
.single-product.an-pro7 {
    margin-bottom: 41px;
}
.tooltip.in {
    z-index: 9999999;
}
.preview-2 .nivo-controlNav {
    position: absolute;
    left: 50%;
}
a.o-back-to {
    color: #666;
}
a.o-back-to:hover {
    color: #0099a1;
}
.collapse_area .panel-group {
    margin-bottom: 0;
}
.pt-90 {
    padding-top: 50px;
}



/*--------------------- 8. single-product--------------------*/
.breadcrumb > li.p-none {
    padding-left: 20px;
}
.breadcrumb li.p-none.si-no::before {
    color: #fff;
    content: "";
    display: block;
    font-family: FontAwesome;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -10px;
    top: 0;
    width: 12px;
}
.pro-img-tab-slider .item a img {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 67px;
    margin: 30px 0 0;
    transition: all 0.3s ease 0s
}
.pro-img-tab-slider .item a img:hover{
    border-color: #337ab7;
}
.pro-img-tab-content .tab-pane {
    border: 1px solid #ebebeb;
}

.pro-img-tab-slider.indicator-style2.owl-theme:hover .owl-controls .owl-buttons div {
    opacity: 1;
}
.pro-img-tab-slider.indicator-style2.owl-theme .owl-controls .owl-buttons div.owl-prev {
    right: 96%;
}
.pro-img-tab-slider.indicator-style2.owl-theme .owl-controls .owl-buttons div {
    color: #b7b7b7;
    font-size: 17px;
    padding: 4px 11px;
    right:10px;
    top: 41%;
}
.related-title::before {
    background: #ddd none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}
.related-title {
    position: relative;
}
.related-title h2 {
    background-color: #fff;
    border: 1px solid #0099a1;
    color: #373737 !important;
    display: inline-block;
    font-size: 14px !important;
    font-weight: 700;
    line-height: 34px;
    margin: 0;
    padding: 0 15px;
    text-transform: uppercase;
}

.cras .product-name h1 {
    font-family: inherit;
    font-size: 24px !important;
    font-weight: 600;
    margin: 0 !important;
    text-transform: capitalize !important;
}
.cras .product-name h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.cras .pro-rating.cendo-pro {
  color: #0099a1;
  font-size: 16px;
  margin-top: 5px;
}
.cras .rating-links {
    margin-bottom: 0;
}
.cras .availability.in-stock {
  color: #3f3f3f;
  font-size: 13px;
  line-height: 20px;
  margin: 14px 0 0;
  text-transform: capitalize;
}
.cras .availability.in-stock2 {
    font-size: 13px;
    color: #3f3f3f;
    font-family: arial;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 3px;
    text-transform: capitalize;
}
.cras .short-description p {
  border-top: 1px solid #e5e5e5;
  color: #3f3f3f;
  margin-top: 15px;
  padding: 15px 0 0;
  text-align: justify;
}
.cras .pre-box span.special-price {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #0099a1;
    font-family: aleo-regular;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    display: block;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px 0;
}
.cras .add-to-box .add-to-cart .input-content {
    float: left;
}
.cras .add-to-cart label {
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    padding: 8px 0 0;
}
.add-to-cart .qty {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #ddd;
    border-radius: 100%;
    box-shadow: none;
    color: #000;
    float: left;
    height: 37px;
    line-height: 37px;
    margin-left: 5px;
    padding: 9px 0;
    text-align: center;
    width: 37px !important;
}
.add-to-box1 {
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.product-icon a{
    background: #373737 none repeat scroll 0 0 !important;
    border: 1px solid #ddd;
    border-radius: 100%;
    box-shadow: none;
    color: #b9b9b9;
    float: left;
    height: 37px;
    line-height: 17px;
    margin-left: 5px;
    padding: 9px 0;
    text-align: center;
    width: 37px !important;
}
.add-to-box1 .product-icon a:hover{
    background: #0099a1 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.s-cart-img {
    padding-top: 20px;
}
.s-slider7 .product-img-right a img.primary-image {
    border: none;
}
.related-title.s-title {
    margin-bottom: 10px;
}
.tab_area .text {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.tab_area .nav-tabs::before {
    background: #ddd none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}
.tab_area .nav-tabs {
    border: medium none;
    margin: 0 0 30px;
    position: relative;
}
.tab_area .text li {
    margin-right: 20px;
}
.tab_area .text a:hover, .tab_area .text li.active a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0099a1;
    color: #0099a1;
}
.tab_area .text a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #000;
  display: inline-block;
  font-size: 15px;
  margin: 0;
  padding: 16px 23px 13px 15px;
  text-transform: uppercase;
}
.tab_area.sing-tab .tab-content .tab-pane.active {
  border: 1px solid #ddd;
  margin: 0;
  max-height: 300px;
  overflow: auto;
  padding: 15px;
  text-align: justify;
}
.tab_area .table.table-bordered td {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-align: left;
}
.tab_area .text .text.an-text{
    position: relative;
}
.tab_area .text .text.an-text::after {
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -8px;
}
.tab_area .text .text.an-text::before {
    border-bottom: 9px solid #e5e5e5;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -9px;
}
.tab_area .text .text.an-text {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin: 5px 0 20px;
    padding: 20px;
    position: relative;
}
.tab_area .text span.fa {
    color: #f4a137;
    float: left;
    font-size: 8px;
    margin-right: 8px;
}
.tab_area .text h2.write {
    font-size: 18px;
    text-transform: capitalize;
    color: #444;
}
.tab_area .text .form-group label {
    margin: 0;
    padding: 0 0 10px;
    text-align: left;
    width: 100%;
}
.tab_area .text div.required .control-label::before {
    color: #0099a1;
    content: "* ";
    font-weight: bold;
}
.tab_area .text input.form-control {
    border: 1px solid #e8e8e8 !important;
    box-shadow: none;
    font-size: 13px;
    width: 300px;
}
.tab_area .text textarea {
    border: 1px solid #e8e8e8 !important;
    box-shadow: none;
    font-size: 14px;
    line-height: 25px;
    min-height: 100px;
    width: 500px;
}
.table-img {
    margin-top: 10px;
}
.tab_area.sing-tab .buttons.si-button {
    margin: 1em 0;
}
.buttons.si-button .pull-right {
    margin-bottom: 30px;
}
.buttons.si-button button {
    background: #222 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 12px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s
}
.buttons.si-button button:hover{
    background: #0099a1 none repeat scroll 0 0;
}
.mostview-area.mostview-area2 {
    margin-bottom: 50px;
}
.single-product-area.sit {
    overflow: hidden;
}
.tab_area.sing-tab .text{
    padding: 0 0px;
}

/******************/

#hs-appoinment-area .container-fluid {
    padding:0;
}

#hs-appoinment-area .col-md-6 {
    padding:0;
}

.appoinment-thumb{
	position:relative;
	background:#010920;
}
.appoinment-thumb img{
	opacity: 0.7;
    transform: translateX(0%);
	transition: all 0.5s ease-in-out 0.1s;
} 

.appoinment-thumb:hover img{
	opacity: 0.4;
    transform: translateX(0%);
	transition: all 0.5s ease-in-out 0.1s;
} 
.appoinment-button {
    opacity: 1;
    transform: translateX(0%);
	transition: all 1s ease-in-out 1.4s;
}

.appoinment-button .hs-btn.btn-light.btn-large {
    color: #fff !important;
    height: 65px;
    line-height: 59px;
    padding: 0 30px;
	margin-bottom: 30px;
	border-radius: 4px;
	border:2px solid #fff;
	background:none;
	text-transform: unset;
	font-size: 20px;
}

.appoinment-button .hs-btn.btn-light.btn-large:hover {
	border-radius: 4px;
	border:2px solid #0099a1;
}

.appoinment-button .hs-btn:hover::before {
    background: #0099a1 none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    width: 100%;
}
.appoinment-thumb .appoinment-inner {
	display: block;
	width:400px;
	align-items: center;
    padding-top: 18px;
    position: absolute;
    top: 50%;
	left:50%;
	margin-top:-70px;
	margin-left:-200px;
	z-index:9;
}

.appoinment-thumb .appoinment-inner p{
	color: #fff;
	font-style: italic;
}

.appoinment-thumb .appoinment-inner .zmdi{
	color: #fff;
	font-size:24px;
	padding-left:10px;
	vertical-align: middle;
}



.appoinment-thumb.slider-shape-1::after {
    right: -267px;
	opacity:0.2;
}

.appoinment-thumb.slider-shape-2::after {
    left: -270px;
	opacity:0.2;
}

.blog-thumb {
    margin-bottom: 30px;
}

.single-testmonial-area {
    text-align: center;
    margin-top: -100px;
}

.testimonial-carousel.slick-initialized.slick-slider {
    background: #fff;
	border-radius: 10px;
	box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.07), 0 8px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-carousel .slick-list.draggable {
    margin: 0px 25px; 
	padding:15px 0;
}

.testmonial-slider-area {
    float: left;
    width: 100%;
    padding: 80px 0;
}

.testmonial-title {
    display: block;
    margin-bottom: 15px;
    font-weight: 800;
}

.testimonial-carousel .message {
    font-size: 16px;
    color: #777;
    line-height: 24px;
}

.testimonial-carousel .blockquote-footer {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0 5px 0;
    text-align: left;
}

.testimonial-carousel .blockquote-footer-01 {
    text-align: left;
    font-size: 14px;
    color: #777;
}

.testimonial-carousel .slick-dots {
    text-align: left;
    bottom: -40px;
}

.testimonial-carousel .slick-dots li button::before {
    font-size: 16px;
	color:#03989e;
}

/****** card **********/

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}

.justify-content-center {
    justify-content: center !important;
	display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #0099a1;;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #0099a1;
  color:#fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.btn-primary {
    color: #fff;
    background-color: #0099a1;
    border-color: #0099a1;
	border-radius: 0;
	border: 0;
	padding: 8px 15px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.page-header {
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 0px solid #eee;
}

.home.content {
    max-width: 450px;
    margin: auto;
}

.home.content .title.m-b-md h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
}

.home.content .input-group {
    width: 100%;
}

.w-100{
	width:100%;
	display:block;
}

.slider-area.bg-color-1 {
    margin-top: -1.5rem !important;
}

.hs-user-link .dropdown-menu {
	padding:0;
	border-radius:0;
	margin-top:5px;
}

.hs-user-link .dropdown-menu a {
    font-size: 12px;
	transition: all 0.3s ease 0s;
	background: #f1f1f1;
	border-radius: 0;
	padding: 5px 12px;
	border-bottom: 1px solid #0099a1;
	width: 100%;
	display: block;
	line-height: 14px;
	color: #000 !important;
}

.hs-user-link .dropdown-menu a:hover {
    background: #0099a1;
    color: #fff !important;
    border-bottom: 1px solid #0099a1;
}

.hs-user-link .dropdown-menu a:hover, .hs-user-link .dropdown-menu a:focus, .hs-user-link .dropdown-menu a:active {
    color: #ffffff !important;
}

.title.m-b-md h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/************** modal popup **************/
#mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 15px;
  background-color: #ffffff;
}

#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}

#boxes #dialog h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

#boxes #dialog .appoinment-button .hs-btn.btn-light.btn-large {
    color: #fff !important;
    height: 45px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 2px solid #fff;
    background: none;
    text-transform: unset;
    font-size: 15px;
}

#boxes #dialog .appoinment-thumb .appoinment-inner {
    margin-top: -50px;
	z-index:9999;
	padding:18px 60px;
}

#boxes #dialog .appoinment-thumb .appoinment-inner p {
    padding: 0 15px;
}

@media (max-width: 576px) {
	#boxes #dialog img{
	  height: 300px;
	}
}


.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff !important;
  background-color: #0099a1;
  border-color: #0099a1;
}

.btn-dark:focus,
.btn-dark.focus {
  color: #fff !important;
  background-color: #0099a1;
  border-color: #0099a1;
 /* box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);*/
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #0099a1;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  /*box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);*/
}

.btn-info {
  color: #fff;
  background-color: #0099a1;
  border-color: #0099a1;
}

.btn-info:hover {
  color: #fff !important;
  background-color: #4aa0e6;
  border-color: #3f9ae5;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff !important;
  background-color: #4aa0e6;
  border-color: #3f9ae5;
 /* box-shadow: 0 0 0 0.2rem rgba(97, 157, 206, 0.5);*/
}

.btn-info.disabled,
.btn-info:disabled {
  color: #212529;
  background-color: #0099a1;
  border-color: #0099a1;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #3f9ae5;
  border-color: #3495e3;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
 /* box-shadow: 0 0 0 0.2rem rgba(97, 157, 206, 0.5);*/
}

.detail {
    display: block;
    margin: 20px 0;
}

.review-form {
    display: block;
    margin: 20px 0;
}

.inquiry-form {
    display: block;
    margin: 20px 0;
}

/************/

.col-12{width:100%}
.col-11{width:91.66666667%}
.col-10{width:83.33333333%}
.col-9{width:75%}
.col-8{width:66.66666667%}
.col-7{width:58.33333333%}
.col-6{width:50%}
.col-5{width:41.66666667%}
.col-4{width:33.33333333%}
.col-3{width:25%}
.col-2{width:16.66666667%}
.col-1{width:8.33333333%}
.col-4 {
    width: 33.33333333%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 738px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		width:100%;
	}
}

/***********/