
/*

    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif;
*/

/*----------------------------------------
  Menu basic style
------------------------------------------*/
.header-area{
  z-index: 10;
  position: relative;
}
.main-menu {
  display: flex;
  justify-content: flex-end;
}
.main-menu > li > a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
  line-height: 18px;
  text-transform: uppercase;
  border-left:1px solid #000000;
  border-bottom:1px solid #000000;
}
.main-menu > li:hover > a{
  color: #fff !important;
  border-left:1px solid #0099a1;
  border-bottom:1px solid #0099a1;
}
.main-menu li + li {
    margin-left: 36px;
}
.hs-logo {
  height: 160px;
  line-height: 160px;

}
/*-----------------------------------------
        Sticky  For  Header
-------------------------------------------*/
.ml-header-top.header-one.scroll-header {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0 !important;
}
.header-style-4 .ml-header-top.scroll-header {
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.fluid-container.mobile-menu-container {
  position: relative;
}
.mobile-logo {
  align-items: center;
  display: flex;
  height: 52px;
  left: 0;
  padding-left: 15px;
  position: absolute;
  top: 0;
  z-index: 2147483647;
}
.mobile-logo img {
  max-height: 25px;
}
.ml-header-top.scroll-header {
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.head-style-1.transparent-header .scroll-header .header-content {
  border-bottom: 0px solid transparent;
  margin: 0;
}
.head-style-1.transparent-header .scroll-header .header-content .main-menu > li > a::before {
  position: inherit;
}


/*-------------------------------------------------------------
  Dropdown Menu
----------------------------------------------------*/
.main-menu li{
	height: 104px;
	padding: 40px 0;
}
.main-menu li ul li{
	height: auto;
	padding: 0px 0;
}
.main-menu li.drop{
    position: relative;
}
.main-menu li.drop ul.dropdown {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  visibility: hidden;
  width: 200px;
  z-index: 999;
  top: 120%
}
.scroll-header .main-menu li.drop ul.dropdown {
  top: 120% !important;
}
.scroll-header .main-menu li.drop:hover ul.dropdown {
  top: 100% !important;
}
.main-menu li.drop:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul.dropdown li {
    border-bottom: 1px solid #f4f4f4;
    display: block;
}

.main-menu ul.dropdown li a {
  background: #ffffff none repeat scroll 0 0;
  color: #999999;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 20px 6px 25px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.main-menu li.drop ul.dropdown li:hover > a {
    background: #fafafa none repeat scroll 0 0;
    color: #222222;
}
/*------------------------------------
        Sub Menu
------------------------------------*/
.main-menu li.drop ul.dropdown li.drop::after {
  color: #999;
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 13px;
  position: absolute;
  right: 20px;
  top: 12px;
  transition: all 0.2s ease-in-out 0s;
}
.main-menu li.drop ul.dropdown li.drop{
  position: relative;
}
.main-menu li.drop ul.dropdown li.drop ul.dropdown.smright {
  border: medium none;
  right: 100%;
  top: 0;
  transition: all 0.3s ease 0s;
}
.main-menu li.drop ul.dropdown li.drop ul.dropdown.level2 {
  border: medium none;
  left: 100%;
  top: 20%;
  transition: all 0.3s ease 0s;
}
.main-menu li.drop ul.dropdown li.drop ul.dropdown.level2 {
    opacity: 0;
    visibility: hidden;
}
.main-menu li.drop ul.dropdown li.drop:hover ul.dropdown.level2 {
    opacity: 1;
    visibility: visible;
    top: 0;
}
.main-menu li.drop ul.dropdown li.drop ul.dropdown.smright {
    opacity: 0;
    visibility: hidden;
}
.main-menu li.drop ul.dropdown li.drop ul.dropdown.smright {
  background: #ffffff none repeat scroll 0 0;
  left: -100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 220px;
  z-index: 999;
}
.main-menu li.drop ul.dropdown li.drop:hover ul.dropdown.smright {
  left: -100%;
  opacity: 1;
  visibility: visible;
  top: 0;
}
.theme-color .cd-words-wrapper {
  padding: 0px !important;
}

.main-menu li ul li {
    margin: 0;
}
.main-menu li ul li:first-child {
    margin: 0;
}

/*----------------------
  Header Top
-------------------------*/
.hs-header-top {
  display: flex;
  justify-content: space-between;
  /*border-bottom: 1px solid #333;*/
}

.hs-social-icon {
    display: flex;
}
.hs-social-icon li a {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    transition: all 0.3s ease 0s;
}
.hs-social-icon li + li {
    margin-left: 30px;
}
.hs-social-icon li a:hover i {
}
.hs-social-icon li a:hover i {
    color: #0099a1;
}
.header-top-left p {
    color: #0099a1;
    font-family: Open Sans;
    font-size: 13px;
    height: 56px;
    line-height: 56px;
}
.header-top-left p span {
    color: #fff;
    margin-left: 16px;
}

/*----------------------
  scroll-header
-------------------------*/

header.hs-header {
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 99999;
}

.header-wrap.scroll-header {
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: #333;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.header-wrap.scroll-header .hs-header-top{
  display: none;
}
.header-wrap.scroll-header .hs-logo {
  height: 70px;
  line-height: 70px;
}
.header-wrap.scroll-header .main-menu > li:hover > a {
  color: #fff !important;
}

.header-wrap.scroll-header .hs-logo a img {
  max-height: 50px;
}
.header-wrap.scroll-header .main-menu > li > a {
  /*height: 70px;
  line-height: 70px;*/
}

.header-wrap.scroll-header .main-menu > li{
	height: 70px;
	padding: 25px 0;
}

/**************************/

.hs-user-link {
    display: flex;
	margin-top:35px;
}
.hs-user-link li a {
    font-size: 12px;
    transition: all 0.3s ease 0s;
	background:#000;
	border-radius:4px;
	padding:5px 20px;
	border:1px solid #0099a1;

}
.hs-user-link li + li {
    margin-left: 30px;
}
.hs-user-link li a:hover {
	background:#0099a1;
	color:#fff !important;
	border:1px solid #0099a1;
}
.hs-user-link li a:hover i {
    color: #0099a1;
}

/********* header search ************/

.main-menu li.search a{
	cursor: pointer;
	cursor: pointer;
	font-size: 20px;
	border:0;
}
.main-menu li.search a:hover .zmdi-search{
	color: #0099a1 !important;
}

.main-menu li.search #searchsubmit{
	text-indent:-99999px;	
}
.main-menu li.search #search{
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 8px 40px 8px 15px;
	font-size: 14px;
	height: 32px;
	width:100%;
	line-height: normal;
	outline: none;
	color:#555;
}
.spicewpsearchform{
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0px;
    z-index: 9999;
    background: #f6f6f6;
    padding: 10px;
    border: 0px solid #0098a0;
}
.serach_area{
	width:100%;
	max-width:530px;
	padding:100px 0;
	display:block;
	margin:auto;
}
.spicewpsearchform input[type="text"] {
    width: 100%;
    height: auto;
    border: 1px solid #80848f;
    padding: 10px 40px 10px 10px;
    border-radius: 4px !important; 
    }
.spicewpsearchform input[type="submit"] {
    line-height: 1;
    padding: 14px 20px;
    border-radius: 0px;
    height: auto;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #80848f;
}
.spicewpsearchform:before {
    border-color: transparent transparent #d05353;
    border-style: solid;
    border-width: 0.5em;
    content: "";
    display: block;
    position: absolute;
    right: 22px;
    top: -20px;
    z-index: 10;
}

/**Css for image search icon**/
.spicewpsearch_icon {
   background-image: url('../../images/search-icon.png');
   background-repeat: no-repeat;
   padding: 0 0 0 36px;
   background-position: 5px center;
   background-color: transparent;
   background-size: 18px 18px;
       
}

.searchform div {
  position: relative;
}
.searchform div input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  background: #80848f url(../../images/search-button.png) no-repeat;
  border: 0px;
  width: 60px;
  height: 100%;
  font-size: 0px;
  -webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.close_button {
    float: right;
	cursor: pointer;
}

.close_button .zmdi{
    color: #333 !important;
	font-size:28px;
}

.serach_area h2{
	display: block;
	text-align: center;
	margin-bottom: 60px;
	color: #777;
	font-size: 28px;
	font-weight: 600;
}